.custom-products .page-subtitle--underlined,
.custom-products .page-title--underlined {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 12px;
}
.custom-products .page-title {
  line-height: 30px;
  font-size: 20px;
  margin: 0 0 10px;
  font-weight: 700;
}
.custom-products .page-title a {
  font-weight: 400;
  letter-spacing: normal;
}
.custom-products .page-title a.add-new {
  margin-top: -10px;
}
@media (max-width: 1199.98px) {
  .custom-products .page-title--warehouse-grid {
    padding: 10px 0 20px;
  }
  .custom-products .page-title a.add-new {
    margin-top: -4px;
  }
}
.custom-products .page-subtitle {
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
}
.custom-products .page-subtitle--muted {
  color: #878787;
  font-weight: 400;
}
.custom-products .large-checkbox {
  font-size: 20px;
}
.custom-products .variant-box {
  background: #f8f8f8;
  padding: 15px 0;
  border-top: 1px solid #d8d8d8;
  margin-top: 10px;
}
.custom-products .variant-box label {
  white-space: nowrap;
}
.custom-products .variant-box .variant-image {
  position: relative;
  margin: -15px 0;
}
@media (max-width: 991.98px) {
  .custom-products .variant-box .variant-image {
    margin-bottom: 15px;
  }
}
.custom-products .variant-box .variant-image__upload-button {
  position: absolute;
  top: 20px;
  width: 100%;
  display: none;
}
.custom-products
  .variant-box
  .variant-image.is-hovered
  .variant-image__upload-button {
  display: block;
}
.custom-products .variant-box .variant-image__uploader {
  background: #e5e5e5;
}
.custom-products .variant-box .variant-image__uploader a {
  padding-top: 20px;
  padding-bottom: 7px;
}
.custom-products .beta-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -4px;
}
.custom-products .warehousing-file-selector .file-selector__item {
  margin: 0;
  width: 100%;
  height: 348px;
}
.custom-products
  .warehousing-file-selector
  .file-selector__item
  .file-selector__overlay {
  padding-top: 130px;
}
@media (max-width: 991.98px) {
  .custom-products .warehousing-variant-file-selector {
    text-align: center;
  }
}
.custom-products .warehousing-variant-file-selector .file-selector__item {
  margin: 0;
  width: 100%;
  height: 109px;
  border: none;
}
.custom-products
  .warehousing-variant-file-selector
  .file-selector__item
  .file-selector__overlay {
  padding-top: 10px;
}
.custom-products
  .warehousing-variant-file-selector
  .file-selector__item
  .file-selector__overlay
  .btn {
  width: auto;
}
@media (max-width: 991.98px) {
  .custom-products .warehousing-variant-file-selector .file-selector__item {
    height: 250px;
  }
  .custom-products
    .warehousing-variant-file-selector
    .file-selector__item
    .file-selector__overlay {
    padding-top: 80px;
  }
}
